/* family-form.component.css */

.error-message {
  color: red;
}

  .form-div{

    display: flex;
    justify-content: center;
    // max-height: 650px;
  }
  form {
      display: flex;
      flex-direction: column;
      // max-width: 400px;
      margin-top: 24px;
      // margin: auto;
      width: fit-content;
      margin-left: 15%;
      margin-right: 20%;
      padding: 20px;
      padding-bottom: 65px;
      background-color: #8fb339;; /* Blue background color */
      color: #ffffff; /* White text color */
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    label {
      margin-bottom: 5px;
    }
    
    input {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ffffff; /* White border */
      border-radius: 5px;
      outline: none;
    }
    
    button {
      padding: 10px;
      background-color: #390698; /* White background color */
      color: #2196F3; /* Blue text color */
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #e0e0e0; /* Light gray background color on hover */
    }
    