/* footer.component.css */

.app-footer {
    background-color: #2196F3; /* Blue background color */
    color: #ffffff; /* White text color */
    text-align: center;
    padding: 10px;
    //position: fixed;
    bottom: 0;
    width: 100%;
  }
  