/* header.component.css */

.app-header {
    background-color: #2196F3; /* Blue background color */
    color: #ffffff; /* White text color */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    background-image: url('../../../favicon.ico'); /* Set the path to your image */
    background-size: cover; /* Adjust the background size */
    height: 46px;
    width: 63px;
  }
  
.nav-menu{
  display: flex;
  flex-direction: row;
}

  .nav-menu a {
    color: #ffffff; /* White text color for navigation links */
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
  }
  
  .nav-menu a:hover {
    text-decoration: underline;
  }
  