<!-- landing-page.component.html -->

<div class="search-bar">
  <input class="search-input" type="text" [(ngModel)]="searchTerm" placeholder="Family-Id/member-Name....">
  <button class="search-button" (click)="search()">
    <i class="fas fa-search"></i> <!-- Use "fas" for solid icons, or "far" for regular icons -->
  </button>
</div>

<div class="container">
  <mat-card *ngFor="let card of cardArray" class="wide-card" (click)="openCardDetailsDialog(card)">
    <mat-card-header>
      <mat-card-title>
        {{ card.title }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ card.content }}</p>
    </mat-card-content>
  </mat-card>
</div>

