/* wide-card.component.css */
@import '~@fortawesome/fontawesome-free/css/all.css';
/* wide-card.component.css */
body{
  padding-bottom: 60px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
  gap: 39px; /* Add a gap of 100px between container items */
}


.mat-card {
  width: 77%;
  
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #8fb339;
  color: #485460;
}

.mat-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mat-card-header {
  background-color: #34495e;
  color: #fff;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  
}

.mat-card-title {
  font-size: 17px;
  font-weight: bold;
}

.mat-card-content {
  color: #566573;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.search-input {
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  outline: none;
}

.search-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #2980b9;
}
.mat-card-header .mat-card-title {
  margin-bottom: 12px;
  margin-top: 10px;
  
}
.edit{
  background-color:#125d05;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 52px;
  height: 100%;
  cursor: pointer;
}
.delete{
  background-color: red;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 52px;
  height: 100%;
  cursor: pointer;
}
.view{
  background-color:  #0e21b4;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 52px;
  height: 100%;
  cursor: pointer;
}
.ch-par{
  display: flex;
}
.icons-main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.mcc-main{
  display: flex;
  justify-content: space-between;
}

.indi-total{
  margin-right: 5%;
  color: #fff;
}